body {
    background-color: #ffa07a;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    height: 100vh;
}

button {
    background-color: #78381e;
    color: #f4e3dc;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 2em;
}

button:hover {
    background-color: #cfa62e;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  transform: rotate(90deg);
  border-radius: 10px; 
  width: 50%;
  margin-top: -1em;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center; 
}

#content div {
    width: 70%;
    background-color: #f4e3dc;
    color: #78381e;
    max-height: 60%;
    padding: 1em;
  border-radius: 20px; 
}

#content p {
    width: 80%; 
    margin: 0px auto;
    font-weight: bold;
}