body {
    background-color: #ffa07a;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

button {
    background-color: #78381e;
    color: #f4e3dc;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 1em;
}

button:hover {
    background-color: #cfa62e;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%; 
}

#content {
    width: 70%;
    margin: 0px auto;
}